<html>

    <head>
        <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/public/css/meu-css.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Lista dos Produtos</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/app/views/listarProdutos">Lista dos Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/views/adicionarProduto">Adicionar Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/views/listarCategorias">Lista das Categoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/app/views/adicionarCategoria">Adicionar Categoria</a>
                    </li>
                </ul>
            </div>
        </nav>

        <table class="table table-striped area">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Custo</th>
                    <th scope="col">Venda</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody id="lista-produtos">
            </tbody>
        </table>

        <script src="/public/js/jquery-3.3.1.js"></script>
        <script src="/public/js/listaProdutos.js"></script>
    </body>

</html>