<html>
<head>
    <title>Registrar-se</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/meu-css.css">
    <script src="/public/js/jquery-3.3.1.js"></script>
    <script src="/public/js/popper.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="pageLogin">

<form id="register" class="login">
    <h1>Registrar-se</h1>
    <div class="form-group">
        <label>Usuario:</label>
        <input type="text" class="form-control" name="usuario" placeholder="Insira um usuario">
    </div>
    <div class="form-group">
        <label>Senha:</label>
        <input type="password" class="form-control" name="senha" placeholder="Insira uma senha">
    </div>
    <button type="submit" id="registro" class="btn btn-primary">Registrar</button>
    <a> </a>
    <input type="button" class="btn btn-danger" value="Voltar" onClick="history.go(-1)">
</form>

<script src="/public/js/registraUsuario.js"></script>

</body>
</html>