<html>
<head>
    <title>Registrar-se</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.png">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/meu-css.css">
    <script src="/public/js/jquery-3.3.1.js"></script>
    <script src="/public/js/popper.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="pageLogin">

<form id="register" class="login">
    <img src="/public/img/logo.png" class="img">
    <div class="divLogin">
        <div class="form-group">
            <input type="text" class="form-control" name="usuario" placeholder="Insira um usuario">
        </div>
        <div class="form-group">

            <input type="password" class="form-control" name="senha" placeholder="Insira uma senha">
        </div>
        <button type="submit" id="registro" class="btn btn-primary btnLogin">Registrar</button>
        <button type="button" class="btn btnLogin" onclick="history.go(-1)">Voltar</button>
    </div>
</form>

<script src="/public/js/registraUsuario.js"></script>

</body>
</html>