.alinhar-centro {
    position: relative;
    top: 30px;
    display: table;
    margin: auto;
    width: 320px;
    height: 270px;
}

.area {
    position: relative;
    top: 30px;
    display: table;
    margin: auto;
    width: auto;
    height: auto;
}

.login {
    position: relative;
    top: 100px;
    display: table;
    margin: auto;
    width: 320px;
    height: 270px;
}

.pageLogin {
    background-image: url("/public/img/background.gif");
    color: white;
}